.comp--tabs {
  --_comp-tabs_nav_f-d: var(--comp-tabs_nav_f-d, row);
  --_comp-tabs_nav_p: var(--comp-tabs_nav_p, 0px);
  --_comp-tabs_nav_m: var(--comp-tabs_nav_m, 0px);
  --_comp-tabs_nav_g: var(--comp-tabs_nav_g, 2px);
  --_comp-tabs_nav_b: var(--comp-tabs_nav_b, var(--_comp-tabs_nav_b-w) var(--_comp-tabs_nav_b-s) var(--_comp-tabs_nav_b-c));

  --_comp-tabs_nav_b-c: var(--comp-tabs_nav_b-c, #ccc);
  --_comp-tabs_nav_b-w: var(--comp-tabs_nav_b-w, 1px);
  --_comp-tabs_nav_b-s: var(--comp-tabs_nav_b-s, solid);

  --_comp-tabs_button_c: var(--comp-tabs_button_c, #444);
  --_comp-tabs_button_c_h: var(--comp-tabs_button_c_h, #080808);
  --_comp-tabs_button_c_a: var(--comp-tabs_button_c_a, #fff);
  --_comp-tabs_button_bg: var(--comp-tabs_button_bg, transparent);
  --_comp-tabs_button_bg_h: var(--comp-tabs_button_bg_h, var(--_comp-tabs_button_bg));
  --_comp-tabs_button_bg_a: var(--comp-tabs_button_bg_a, #005c99);
  --_comp-tabs_button_p-i: var(--comp-tabs_button_p-i, 1em);
  --_comp-tabs_button_p-b: var(--comp-tabs_button_p-b, .625rem);
  --_comp-tabs_button_f-w: var(--comp-tabs_button_f-w, 500);
  --_comp-tabs_button_f-s: var(--comp-tabs_button_f-s, inherit);
  --_comp-tabs_button_t-d: var(--comp-tabs_button_t-d, none);
  --_comp-tabs_button_b-s-c_h: var(--comp-tabs_button_b-s-c_h, #00abf1);
  --_comp-tabs_button_b-s_h: var(--comp-tabs_button_b-s_h, inset 0 -3px 0 0 var(--_comp-tabs_button_b-s-c_h));
  --_comp-tabs_button_b: var(--comp-tabs_button_b, none);
  --_comp-tabs_button_b-r_val: var(--comp-tabs_button_b-r_val, 2px);
  --_comp-tabs_button_b-r: var(--comp-tabs_button_b-r, var(--_comp-tabs_button_b-r_val));

  --_comp-tabs_panel_p-i: var(--comp-tabs_panel_p-i, 0px);
  --_comp-tabs_panel_p-b: var(--comp-tabs_panel_p-b, 0px);

  color: var(--comp-tabs_c);
  background: var(--comp-tabs_bg);
  padding-inline: var(--comp-tabs_p-i);
  padding-block: var(--comp-tabs_p-b);
  margin-block: var(--comp-tabs_m-b);
  margin-inline: var(--comp-tabs_m-i);

  .tabs__nav {
    display: flex;
    flex-direction: var(--_comp-tabs_nav_f-d);
    list-style: none;
    margin: var(--_comp-tabs_nav_m);
    padding: var(--_comp-tabs_nav_p);
    gap: var(--_comp-tabs_nav_g);
  }

  .tabs__button {
    color: var(--_comp-tabs_button_c);
    font-size: var(--_comp-tabs_button_f-s);
    font-weight: var(--_comp-tabs_button_f-w);
    background: var(--_comp-tabs_button_bg);
    border: var(--_comp-tabs_button_b);
    padding-block: var(--_comp-tabs_button_p-b);
    padding-inline: var(--_comp-tabs_button_p-i);
    border-radius: var(--_comp-tabs_button_b-r);
    transition: all 0.3s ease;

    &:hover {
      color: var(--_comp-tabs_button_c_h);
      background: var(--_comp-tabs_button_bg_h);
      cursor: pointer;
    }

    &[aria-selected="true"] {
      color: var(--_comp-tabs_button_c_a);
      background: var(--_comp-tabs_button_bg_a);

      &:hover {
        --_comp-tabs_button_b-s_h: none;
      }
    }
  }

  .tabs__panel {
    padding-inline: var(--_comp-tabs_panel_p-i);
    padding-block: var(--_comp-tabs_panel_p-b);
    display: none;
    pointer-events: none;

    &[aria-hidden="false"] {
      display: block;
      pointer-events: auto;
    }
  }

  .horizontal-tabs__nav {
    --_comp-tabs_button_b-r: var(--comp-tabs_horizontal_button_b-r, var(--_comp-tabs_button_b-r_val) var(--_comp-tabs_button_b-r_val) 0 0);

    border-bottom: var(--_comp-tabs_nav_b);

    .tabs__button:hover {
      box-shadow: var(--_comp-tabs_button_b-s_h);
    }
  }

  &.vertical-tabs {
    --_comp-tabs_button_b-r: var(--comp-tabs_horizontal_button_b-r, var(--_comp-tabs_button_b-r_val) 0 0 var(--_comp-tabs_button_b-r_val));
    --_comp-tabs_panel_p-b: 0px;

    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .tabs__nav {
      --_comp-tabs_nav_f-d: column;
    }

    .tabs__button {
      width: 300px;
    }
  }
}
